.display-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 10px;
  font-family: Arial;
  color: rgba(255, 255, 255, 0.8);
  background-color: #000000;
}
.worksource.header .workunits {
  font-size: 1.1em;
}
.worksource.header #app-name {
  position: absolute;
  top: 0em;
  left: 0em;
  color: white;
  text-shadow: 0 2px 3px #666666;
  font-size: 3em;
  font-weight: bold;
  font-family: Arial;
}
.worksource.header #app-description {
  position: absolute;
  top: 3.3em;
  margin-left: 0.35em;
  color: white;
  text-shadow: 0 2px 3px #666666;
  font-size: 1em;
  font-weight: bold;
  font-family: Arial;
}
.worksource.header #runcontrol {
  font-size: 1em;
  color: white;
  display: block;
  position: absolute;
  right: 1em;
  margin-right: 8.5em;
  top: 0;
  margin-top: 0em;
  height: 2.5em;
  width: 2.5em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.6em;
  cursor: pointer;
}
.worksource.header #runcontrol .play {
  font-size: 1.95em;
  margin-left: 0.15em;
  display: none;
}
.worksource.header #runcontrol.stopped .play {
  display: inline;
}
.worksource.header #runcontrol .stop {
  font-size: 1.95em;
  display: none;
}
.worksource.header #runcontrol.running .stop {
  display: inline;
}
.worksource.header #threadnumber {
  font-size: 1em;
  color: white;
  position: absolute;
  right: 1em;
  top: 0;
  margin-top: 0em;
  text-align: center;
  height: 2.5em;
}
.worksource.header #threadnumber span {
  background-color: rgba(255, 255, 255, 0.05);
}
.worksource.header #threadnumber .plus {
  display: inline-block;
  width: 1em;
  font-size: 2.05em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-left: 0.1em solid rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.worksource.header #threadnumber .minus {
  display: inline-block;
  margin: 0em;
  width: 1em;
  font-size: 2.05em;
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-right: 0.1em solid rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.worksource.header #threadnumber .number {
  display: inline-block;
  font-size: 2.05em;
  width: 1.3em;
  cursor: default;
}
.worksource.header #state-describtion {
  display: none;
  font-size: 1.1em;
  position: absolute;
  -text-align: right;
  top: 0em;
  right: 1em;
  color: #CCC;
  font-family: Arial;
  -text-shadow: 0 1px 2px #666666;
}
#tabs {
  position: absolute;
  font-size: 1.5em;
  padding: 0em 3em 2em 2em;
  margin-right: 36%;
  right: 0em;
  left: 0em;
}
#tabs.active ~ #worksourcelist .workunit {
  opacity: 0.05;
}
#tabs > div {
  display: none;
  width: 100%;
}
#tabs.active > div.selected {
  display: block;
}
.worksource-tab h2 {
  margin: 1em 0em 0.5em;
}
.worksource-tab ul.details {
  display: block;
  list-style-type: none;
  padding-left: 0.5em;
}
.worksource-tab ul.details li {
  margin-bottom: 0.3em;
}
.worksource {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-box-pack: start;
  -o-box-pack: start;
  box-pack: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-box-align: start;
  -o-box-align: start;
  box-align: start;
  font-size: 1.5em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0em 2em;
  margin: 1em 0em 2.5em;
}
.worksource .information {
  width: 36%;
  padding-left: 1em;
  margin-left: -0.5em;
  border-left: 0.5em solid #DDD;
}
.worksource .information .overview p {
  margin-bottom: 0.5em;
}
.worksource .information h1 {
  font-size: 2em;
  padding: 0.2em 0.5em;
  margin: 0em -1em 0.5em -0.5em;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.worksource .information h1:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  -font-weight: bold;
  text-shadow: white 0px 0px 1px;
}
.worksource .information h1.selected {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  -font-weight: bold;
  text-shadow: white 0px 0px 1px;
}
.worksource .workunits {
  position: relative;
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  border-right: 0.5em solid #DDD;
  padding-right: 1em;
}
.workunit {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-box-pack: start;
  -o-box-pack: start;
  box-pack: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  font-size: 1.1em;
  padding: 0.5em;
  margin: 1em 0em;
  background-color: rgba(255, 255, 255, 0.09999999999999998);
  border-radius: 0.5em;
}
.workunit .status {
  display: block;
  width: 9em;
  padding: 0.2em 0.4em 0.1em;
}
.workunit .meter {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  height: 1.6em;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 0.4em;
  transition: all 0.5s ease-in-out;
}
.workunit .meter .span {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
  border-radius: 0.4em;
  background-color: rgba(255, 255, 255, 0.30000000000000004);
}
.log {
  font-size: 1em;
  clear: both;
  padding: 1em;
  border: 0em;
  background-color: rgba(41, 41, 41, 0.95);
  color: #CCC;
  overflow: auto;
  font-family: Courier;
  font-size: 0.8em;
}
.log .critical {
  color: red;
  text-decoration: underline;
}
.log .error {
  color: red;
}
.log .warning {
  color: yellow;
}
.log .notice {
  color: lime;
}
.log .information {
  color: white;
}
.log .debug {
  color: gray;
}
.log .time {
  display: inline-block;
  width: 5em;
  font-style: italic;
  padding-right: 0.3em;
  background-color: #444;
  border-right: 1px solid #888;
  margin-right: 0.5em;
}
.log .message {
  text-decoration: inherit;
  display: inline-block;
}
.log .source {
  padding: 0;
  text-decoration: inherit;
  display: inline-block;
  padding-left: 0.1em;
  padding-right: 0.1em;
  font-size: 0.7em;
  border: 1px solid #559;
  background: #226;
  color: white;
  margin-right: 0.5em;
}
.log .data pre {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  display: inline-block;
}
.workunit-log {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 15em;
  margin: 1em -1.25em -1.25em;
  padding: 1.25em;
  border-radius: 1.125em;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  resize: vertical;
}
