<div class="fieldset">
  <label class="enabled">Project url:</label>
  <input data-bind="value : projecturl,
                    valueUpdate: 'keyup'" />
</div>
<div class="or">
  <div class="fieldset">
    <label data-bind="css : {enabled : scheduler().length != 0}">
      Login name:
    </label>
    <input data-bind="enable : scheduler().length != 0,
                      value : username,
                      valueUpdate: 'keyup'"/>
    <label data-bind="css : {enabled : scheduler().length != 0}">
      Password:
    </label>
    <input data-bind="enable : scheduler().length != 0,
                      value : password,
                      valueUpdate: 'keyup'" />
  </div>
  <div class="fieldset">
    <label data-bind="css : {enabled : scheduler().length != 0 &&
                                       username().length == 0 &&
                                       password().length == 0}">
      Authkey:
    </label>
    <input data-bind="enable : scheduler().length != 0 &&
                               username().length == 0 &&
                               password().length == 0,
                      value : authkey,
                      valueUpdate: 'keyup'" />
  </div>
</div>
<div class="submit">
  <button data-bind="enable : ok,
                     click : create">
    Create
  </button>
  <p data-bind="html : error" class="error"></p>
</div>
