<div data-bind="css : {hidden : template() && isHidden('projecturl')}">
  <label>Project url</label>
  <input data-bind="value : projecturl,
                    valueUpdate: 'keyup',
                    css : {error : template() && isError('projecturl')},
                    enable : template()">
</div>

<div data-bind="css : {hidden : template() && isHidden('scheduler')}">
  <label>Scheduler url</label>
  <input data-bind="value : scheduler,
                    valueUpdate: 'keyup',
                    css : {error : template() && isError('scheduler')},
                    enable : template()">
</div>

<div data-bind="css : {hidden : template() && isHidden('username_password')}">
  <label>Username</label>
  <input data-bind="value : username,
                    valueUpdate: 'keyup',
                    css : {error : template() && isError('username')},
                    enable : template() && scheduler().length != 0"/>

  <label data-bind="css : {hidden : living()}">Password</label>
  <input data-bind="value : password,
                    valueUpdate: 'keyup',
                    css : {error : template() && isError('password'),
                           hidden : living()},
                    enable : template() && scheduler().length != 0" />

  <!--<button>Register</button>-->
</div>

<div data-bind="css : {hidden : template() && isHidden('authkey')}">
  <label>Authentication key</label>
  <input data-bind="value : authkey,
                    valueUpdate: 'keyup',
                    css : {error : template() && isError('authkey')},
                    enable : template() &&
                             scheduler().length != 0 &&
                             username().length == 0 &&
                             password().length == 0" />
</div>

<div>
  <button data-bind="enable : template() && ok(),
                     css : {hidden : living()},
                     click : function() {if (!living()) create()}">
    Add BOINC project
  </button>
  <button class="templatehidden"
          data-bind="css : {hidden : template()},
                     click : function() {worksource(undefined)}">
    Remove worksource
  </button>
</div>
