<div data-bind="css : {hidden : template() && isHidden('projecturl')}">
  <label>Project url</label>
  <input data-bind="value : projecturl,
                    valueUpdate: 'keyup',
                    css : {success : template() && (projecturlStatus() === true),
                           error : template() && (projecturlStatus() === false)},
                    enable : template()">
</div>

<div data-bind="css : {hidden : template() && isHidden('scheduler')}">
  <label>Scheduler url</label>
  <input data-bind="value : scheduler,
                    valueUpdate: 'keyup',
                    css : {success : template() && (schedulerStatus() === true),
                           error : template() && (schedulerStatus() === false)},
                    enable : template()">
</div>

<div data-bind="css : {hidden : template() && isHidden('username_password')}">
  <label>Username</label
  ><input data-bind="value : username,
                    valueUpdate: 'keyup',
                    css : {success : template() && (usernameStatus() === true),
                           error : template() && (usernameStatus() === false)},
                    style : {width : template() ? '45%' : undefined},
                    enable : template() && scheduler().length != 0"

  /><label data-bind="css : {hidden : !template()}">Password</label
  ><input style="width: 45%;"
          type="password"
         data-bind="value : password,
                    valueUpdate: 'keyup',
                    css : {success : template() && (passwordStatus() === true),
                           error : template() && (passwordStatus() === false),
                           hidden : !template()},
                    enable : template() && scheduler().length != 0" />

  <!--<button>Register</button>-->
</div>

<div data-bind="css : {hidden : template() && isHidden('authkey')}">
  <label>Authentication key</label>
  <input data-bind="value : authkey,
                    valueUpdate: 'keyup',
                    css : {success : template() && (authkeyStatus() === true),
                           error : template() && (authkeyStatus() === false)},
                    enable : template() &&
                             scheduler().length != 0 &&
                             username().length == 0 &&
                             password().length == 0" />
</div>

<div data-bind="css : {hidden : !template()}">
  <button data-bind="enable : template() && ok(),
                     click : function() {if (!living()) create()}">
    Participate in this project
  </button>
</div>
