<p>
  Project name: <span data-bind="text : projectname"></span>
</p>
<p>
  Project url:
  <a data-bind="text : projecturl, attr : {href : projecturl}"></a>
</p>
<p>
  Authentication key: <span data-bind="text : authkey"></span>
</p>
