<div class="fieldset">
	<label class="enabled">Scheduler url:</label>
	<input data-bind="value : scheduler" />
</div>
<div class="fieldset">
	<label class="enabled">Auth key:</label>
	<input data-bind="value : authkey" />
</div>
<div class="submit">
	<button data-bind="enable : ok,
                       click : create">
        Create
    </button>
</div>

