<p>
  Project name: <span data-bind="text : name"></span>
</p>
<p>
  Project scheduler url:
  <a data-bind="text : scheduler, attr : {href : scheduler}"></a>
</p>
<p>
  Authentication key: <span data-bind="text : authkey"></span>
</p>
