// Mixins for properties needing vendor specific prefixes
.display-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}

.box-orient (@value) {
  -webkit-box-orient: @value;
  -moz-box-orient: @value;
  -ms-box-orient: @value;
  -o-box-orient: @value;
  box-orient: @value;  
}

.box-align (@value) {
  -webkit-box-align: @value;
  -moz-box-align: @value;
  -ms-box-align: @value;
  -o-box-align: @value;
  box-align: @value;  
}

.box-pack (@value) {
  -webkit-box-pack: @value;
  -moz-box-pack: @value;
  -ms-box-pack: @value;
  -o-box-pack: @value;
  box-pack: @value;  
}

.box-sizing (@value) {
  -webkit-box-sizing: @value;
  -moz-box-sizing: @value;
  -ms-box-sizing: @value;
  -o-box-sizing: @value;
  box-sizing: @value;  
}

.box (@orient, @align, @pack) {
  .display-box;
  .box-orient(@orient);
  .box-pack(@align);
  .box-align(@pack);
}

.box-flex (@value) {
  -webkit-box-flex: @value;
  -moz-box-flex: @value;
  -ms-box-flex: @value;
  -o-box-flex: @value;
  box-flex: @value;  
}

.box-shadow (@horizontal, @vertical, @blur, @spread, @color) {
  -webkit-box-shadow: @horizontal @vertical @blur @spread @color;
  -moz-box-shadow: @horizontal @vertical @blur @spread @color;
  -ms-box-shadow: @horizontal @vertical @blur @spread @color;
  -o-box-shadow: @horizontal @vertical @blur @spread @color;
  box-shadow: @horizontal @vertical @blur @spread @color;
}

.transition-property(@property) {
  -webkit-transition-property: @property;
  -moz-transition-property: @property;
  -ms-transition-property: @property;
  -o-transition-property: @property;
  transition-property: @property;
}

.transition-duration(@duration) {
  -webkit-transition-duration: @duration;
  -moz-transition-duration: @duration;
  -ms-transition-duration: @duration;
  -o-transition-duration: @duration;
  transition-duration: @duration;
}

.transition-delay(@delay) {
  -webkit-transition-delay: @delay;
  -moz-transition-delay: @delay;
  -ms-transition-delay: @delay;
  -o-transition-delay: @delay;
  transition-delay: @delay;
}

.transition-clear {
  -webkit-transition: color 0s;
  -moz-transition: color 0s;
  -ms-transition: color 0s;
  -o-transition: color 0s;
  transition: color 0s;
}

.transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}
.transition(@transition1, @transition2) {
  -webkit-transition: @transition1, @transition2;
  -moz-transition: @transition1, @transition2;
  -ms-transition: @transition1, @transition2;
  -o-transition: @transition1, @transition2;
  transition: @transition1, @transition2;
}
.transition(@transition1, @transition2, @transition3) {
  -webkit-transition: @transition1, @transition2, @transition3;
  -moz-transition: @transition1, @transition2, @transition3;
  -ms-transition: @transition1, @transition2, @transition3;
  -o-transition: @transition1, @transition2, @transition3;
  transition: @transition1, @transition2, @transition3;
}

.user-select(@select) {
  -webkit-user-select: @select;
  -moz-user-select: @select;
  -o-user-select: @select;
  user-select: @select;
}

// Visibility transitions. See http://www.greywyvern.com/?post=337
.hidden(@duration: 0.2s, @anothertransition: color 0s) {
  opacity: 0;
  visibility: hidden;
  .transition(opacity @duration ease-in-out, visibility 0s linear @duration, @anothertransition);
}
.visible(@duration: 0.2s, @anothertransition: color 0s) {
  opacity: 1;
  visibility: visible;
  .transition(opacity @duration ease-in-out, visibility 0s linear 0s, @anothertransition);
}


// Base colors
//@background: #292929;
@background: #000000;
@foreground: #FFFFFF;
@hue:        90;
@selectable: spin(rgba(112,217,93,0.55), @hue);
@selected:   spin(rgba(200,255,190,0.9), @hue);
@selectbackground: spin(rgba(117,255,129,0.1), @hue);

// Rules
* {
  margin: 0;
  padding: 0;
  .user-select(none);
}

.description, form, input, .log * { .user-select(auto); }

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-size: 10px;
  font-family: Arial;
  color: white;
  background-color: #666;
  overflow-x: scroll;
}

ul {
  list-style-type: none;
}

.clickable {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.close {
  font-size: 1.75em;
  position: absolute;
  top: 1.3em;
  right: 0.86em;
  
  display: table-cell;
  vertical-align: middle;

  text-shadow: black 0 0px 10px;

  img {
    width: 1em;
  }
}


form {
  div {
    position: relative;

    margin-bottom: 1em;
    white-space-collapse: discard;
  }

  label {
    position: absolute;

    padding: 0.3em;
    z-index: 0;

    color: rgba(255,255,255,1);
    //font-weight: bold;

    &.nonempty {
      visibility: hidden;
    }
  }

  input {
    position: relative;
    display: inline-block;

    font-size: inherit;
    padding: 0.3em;
    line-height: 1em;
    width: 100%;
    .box-sizing(border-box);
    z-index: 1;

    border: 0px;
    color: @foreground;
    font-family: inherit;

    color: white;
    background-color: rgba(0,0,0,0.5);
    &:focus { background-color: fadeout(darken(@foreground, 85%), 33%); }
    //&.nonempty { background-color: darken(@foreground, 90%); }
    .transition(background-color, 0.1s)

    &~* { margin-left: 10%; }

    &.error {
      background-color: rgba(100,0,0,0.4);
    }
    &.success {
      background-color: rgba(0,100,0,0.4);
    }
  }

  button {
    font-size: inherit;
    line-height: 1em;
    padding: 0.3em;
  }

  .hidden { display: none; }
}

.worksource:not(.template) form {
  &> div {
    display: table;
    width: 100%;
    margin: 0.5em 0em;
    &:last-child {
      margin-bottom: 0em;
    }
  }
  label {
    display: table-cell;
    position: relative;
    &:after {
      content: ":";
    }
  }
  input {
    display: table-cell;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: rgba(255,255,255,0);
    color: white;
  }

  .hidden { display: none; }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  font-size: 1.5em;
  .box-sizing(border-box);
  height: 3.7em;
  margin: 0.4em 0.6em 0.4em 0.3em;


  #app-name {
    position: relative;
    margin-top: -0.16em;

    color: @foreground;
    text-shadow: 0 1px 2px #666666;
    font-size: 3em;
    font-weight: bold;
    font-family: Arial;
  }

  #app-description {
    position: absolute;
    bottom: 0;
    margin-left: 0.4em;
    margin-top: -0.5em;

    color: @foreground;
    text-shadow: 0 1px 2px #666666;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial;
  }

  #logbutton {
    position: absolute;
    right: 11.5em;
    top: 0;

    width: 2.5em;
    height: 100%;

    .icon {
      text-align: center;

      height: 2.5em;
      width: 2.5em;
      background-color: fadeout(@foreground, 90%);//rgba(255,255,255,0.05);
      border-radius: 0.6em;

      img {
        margin: 0.35em;
        width: 1.8em;
        height: 1.8em;
      }
    }

    span {
      position: absolute;
      display: block;
      width: 100%;
      bottom: 0;
      font-size: 1em;
      text-align: center;
      font-weight: bold;
    }
  }

  #runcontrol {
    position: absolute;
    right: 0;
    top: 0;

    .box-sizing(border-box);
    width: 10em;
    height: 100%;
  }

  #start-stop {
    display: block;
    position: absolute;

    top: 0;
    left: 0;

    z-index: 2;
    font-size: 1em;
    color: @foreground;
    height: 1.5em;
    width: 1.5em;
    padding: 0.5em;
    text-align: center;
    background-color: fadeout(@foreground, 90%);//rgba(255,255,255,0.05);
    border-radius: 0.6em;

    img {
      display: inline;
      height: 1.5em;
      &.play { margin-left: 0.25em; }
    }

    &.stopped .stop { display: none; }
    &.running .play { display: none; }

  }

  #threadnumber {
    display: block;
    position: absolute;

    top: 0;
    right: 0;

    z-index: 2;
    font-size: 1em;
    color: @foreground;
    position: absolute;
    text-align: center;
    height: 2.5em;

    img {
      display: inline;
      width: 65%;
      margin: 0 17.5%;
      margin-bottom: 0.15em;
      vertical-align: middle;
    }

    span {
      background-color: fadeout(@foreground, 90%);//rgba(255,255,255,0.05);
      border-color: fadeout(@background, 78%);//rgba(0,0,0,0.22);
      border-style: solid;
      border-width: 0;
    }

    .plus {
      display: inline-block;
      width: 1em;
      font-size: 2.05em;
      border-bottom-right-radius: 0.3em;
      border-top-right-radius: 0.3em;
      border-left-width: 0.1em;
    }

    .minus {
      display: inline-block;
      margin: 0em;
      width: 1em;
      font-size: 2.05em;
      border-bottom-left-radius: 0.3em;
      border-top-left-radius: 0.3em;
      border-right-width: 0.1em;
    }

    .number {
      display: inline-block;
      font-size: 2.05em;
      width: 1.3em;
      cursor: default;
      margin: 0 -0.15em;
    }
  }

  #state-describtion {
    display: block;
    position: absolute;

    bottom: 0;
    right: 0;
    left: 0;

    z-index: 2;

    text-align: center;
    font-size: 1em;
    color: @foreground;
    font-family: Arial;

    .hidden {
      display: none;
    }
  }

}


@worksourcewidth: 30em;
@worksourcemargin: 3em;
@worksourceheight: 80%;

#worksourcelist {
  font-size: 1.5em;

  position: relative;
  display: inline-block;

  width: 100%;
  height: 100%;
  margin-top: -1.5em;
  margin-left: -1 * @worksourcewidth / 2;

  white-space: nowrap;

  &> li {
    width: @worksourcewidth;
    height: @worksourceheight;
    margin: 0em @worksourcemargin;

    display: inline-block;
    .box-sizing(border-box);
    position: relative;
    top: 14%;
  }

  &> li:first-child {
    margin-left: 50%;
  }

  &> li:last-child {
    margin-right: 50%;
    width: @worksourcewidth / 2;
    overflow: visible;
    padding: 0;
    height: @worksourceheight;
  }
}

@pagersize: 20%;

#worksourcelist li:last-child {
  .worksource.notselected { .visible(0.3s); }
  &.selected .worksource.notselected { .hidden(0.3s); }

  &> div> ul, .pager { .hidden(0.3s, top 0.3s); }
  &.selected> div> ul, &.selected> div> .pager { .visible(0.3s, top 0.3s); }
}

#worksourcelist #templatelist {
  position: absolute;
  display: block;
  width: @worksourcewidth;
  height: 100%;

  @overflow: 4em;
  margin-top: -1 * @overflow;
  margin-left: -1 * @overflow;
  padding: @overflow;
  overflow: hidden;

  z-index: 0;

  .notselected {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    margin: @overflow;

    z-index: 2;
    background-image: none;
    background-color: #999;

    h1 {
      color: white;
      text-shadow:rgba(0, 0, 0, 0.55) 0px 0px 11px;
      position: absolute;
      top: 50%;
      font-size: 1.5em;
      height: 3em;
      margin-top: -1.5em;
      text-align: center;
      overflow: visible;
      white-space: normal;
    }
  }

  .pager {
    font-size: 2em;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    width: @worksourcewidth / 2;
    height: 1.5em;
    text-align: center;
    border-radius: 0.2em;
    z-index: 1;

    &.hide { .hidden; }
    &:hover { background-color: rgba(0,0,0,0.8); }
    &.up { top: 0em; }
    &.down { bottom: 0em; }
  }

  &> ul {
    position: relative;
    width: 100%;
    height: 100%;

    overflow: visible;

    &> li {
      position: relative;
      display: block;

      .box-sizing(border-box);
      height: 100%;
      margin: 0 0 20%;
      &:last-child { margin-bottom: 0; }

      .transition(margin-top 0.3s);
    }
  }
}

#worksourcelist .worksource {
  // Force hardware acceleration for moving around worksource cards on webkit-based browsers
  -webkit-transform: translateZ(0);

  position: relative;

  .visible(0.2s, margin-right 0.3s ease-in-out);
  &.overlap {
    margin-right: -1 * (@worksourcewidth + @worksourcemargin);
  }
  &.hide {
    .hidden(0.2s, margin-right 0.3s ease-in-out 0.1s);
    .overlap;
  }

  width: @worksourcewidth;
  height: @worksourceheight;
  margin: 0em @worksourcemargin;

  z-index: 1;
  border-radius: 1.5em;
  .box-shadow(0px, 0px, 40px, -6px, black);

  &.selected {
    //border-radius: 1em;
  }

  h1 {
    font-size: 2em;
    text-shadow: black 0 0px 18px ;

    position: absolute;
    top: 1em;
    left: 0;

    .box-sizing(border-box);
    width: 100%;
    padding: 0 1em;

    text-align: center;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .workunitlist {
    position: absolute;
    top: 5em;
    left: 1.5em;
    right: 1.5em;
    bottom: 14em;

    overflow-y: hidden;
  }

  .information {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    font-size: 1.1em;
    .box-sizing(border-box);
    margin: 1.5/1.1em;
    padding: 0 1em;

    //.box(vertical, start, start);
    //height: 10em;
    //border-bottom-left-radius: 1/1.1 * 2em;
    border-radius: 1/1.1 * 1em;
    background-color: rgba(0,0,0,0.5);

    .description {
      display: none;
      position: relative;
      //top: 6em;
      //left: 2em;
      //right: 2em;

      margin: 1em 0em 2em;
      //padding: 1em;

      white-space: normal;
      text-align: center;
      text-align: left;
      font-weight: bold;
    }

    form {
      margin: 1em 0;

      div:last-child {
        text-align: center;
      }
    }

    button {
      //margin-top: 0.5em;
      padding: 0.5em;
    }
  }

  &.template {
    .description { display: block; }
    .workunitlist { display: none; }
  }
}

// Worksources
.worksource {
  background-image: url(img/backgrounds/planet.jpg);
  background-position: center center;
}

.worksource[worksource="http://bvp6.hpc.iit.bme.hu/w2g_cgi/cgi"] {
  background-image: url(img/backgrounds/pebble.jpg);
}

.workunit {
  display: table;

  font-size: 1.1em;
  .box-sizing(border-box);
  width: 100%;
  height: 1.6em;
  padding: 0.5em;
  margin: 1em 0em;

  color: white;

  background-color: rgba(0,0,0,0.6);
  border-radius: 0.5em;

  &> * {
    position: relative;
    display: table-cell;
  }

  .status {
    vertical-align: middle;
    width: 30%;
    padding: 0.2em 0.4em 0.1em;
  }

  .meter {
    vertical-align: middle;
    width: 100%;
    //.box-flex(1);
    height: 1.6em;

    background: rgba(255,255,255,0);
    border-radius: 0.4em;
    transition: all 0.5s ease-in-out;

    span {
      position: relative;
      display: block;
      height: 100%;
      overflow: hidden;

      border-radius: 0.4em;
      background-color: rgba(255,255,255,0.7);
    }
  }

  .show-log {
    vertical-align: middle;
    width: 1.6em;
    margin-left: 0.5em;
  }

  .log {
    //display: none;
  }
}  

.log {
  position: fixed;
  display: block;

  top: 100%;
  &.active { top: 0; }
  bottom: 0;
  left: 0;
  right: 0;
  margin: 6.5em 0em 1.5em;
  .box-sizing(border-box);
  padding: 1em 4em 0 1em;

  .transition(top 0.3s, bottom 0.3s);    
  z-index: 10;
  background-color: rgba(41,41,41,0.95);
  color: white;
  overflow-y: scroll;
  font-family: Courier;

  // Force hardware acceleration for moving around worksource cards on webkit-based browsers
  -webkit-transform: translateZ(0);


  &> .close {
    top: 0.9em;
    right: 0.9em;
  }

  .critical    { color: red; text-decoration: underline; }
  .error       { color: red; }
  .warning     { color: yellow; }
  .notice      { color: lime; }
  .information { color: white; }
  .debug       { color: gray; }

  .logentry {
    font-size: 1.4em;
  }

  .time {
    display: inline-block;
    width: 5em;
    font-style: italic;
    padding-right: 0.3em;
    background-color: #444;
    border-right: 1px solid #888;
    margin-right: 0.5em;
  }

  .message {
    text-decoration: inherit;
    display: inline-block;
  }

  .source {
    padding: 0;
    text-decoration: inherit;
    display: inline-block;
    padding-left: 0.1em;
    padding-right: 0.1em;
    font-size: 0.7em;
    border: 1px solid #559;
    background: #226;
    color: white;
    margin-right: 0.5em;
  }

  .data pre {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    display: inline-block;
  }
}
