// Mixins for properties needing vendor specific prefixes
.display-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}

.box-flex (@value) {
  -webkit-box-flex: @value;
  -moz-box-flex: @value;
  -ms-box-flex: @value;
  -o-box-flex: @value;
  box-flex: @value;  
}

.box-orient (@value) {
  -webkit-box-orient: @value;
  -moz-box-orient: @value;
  -ms-box-orient: @value;
  -o-box-orient: @value;
  box-orient: @value;  
}

.box-align (@value) {
  -webkit-box-align: @value;
  -moz-box-align: @value;
  -ms-box-align: @value;
  -o-box-align: @value;
  box-align: @value;  
}

.box-pack (@value) {
  -webkit-box-pack: @value;
  -moz-box-pack: @value;
  -ms-box-pack: @value;
  -o-box-pack: @value;
  box-pack: @value;  
}

.box-sizing (@value) {
  -webkit-box-sizing: @value;
  -moz-box-sizing: @value;
  -ms-box-sizing: @value;
  -o-box-sizing: @value;
  box-sizing: @value;  
}

// Base colors
//@background: #292929;
@background: #000000;
@foreground: #FFFFFF;

// Rules
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  font-family: Arial;
  color: fadeout(@foreground, 20%); // rgba(255,255,255,0.8);
  background-color: @background; //rgba(41,41,41,1);
}

.worksource.header {
  .workunits {
    font-size: 1.1em;
  }

  #app-name {
    position: absolute;
    top: 0em;
    left: 0em;

    color: white;
    text-shadow: 0 2px 3px #666666;
    font-size: 3em;
    font-weight: bold;
    font-family: Arial;
  }

  #app-description {
    position: absolute;
    top: 3.3em;
    margin-left: 0.35em;

    color: white;
    text-shadow: 0 2px 3px #666666;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial;
  }

  #runcontrol {
    font-size: 1em;
    color: white;
    display: block;
    position: absolute;
    right: 1em;
    margin-right: 8.5em;
    top: 0;
    margin-top: 0em;
    height: 2.5em;
    width: 2.5em;
    text-align: center;
    background-color: rgba(255,255,255,0.05);
    border-radius: 0.6em;
    cursor: pointer;

    .play {
      font-size: 1.95em;
      margin-left: 0.15em;
      display: none;
    }
    &.stopped .play {
      display: inline;
    }
    .stop {
      font-size: 1.95em;
      display: none;
    }
    &.running .stop {
      display: inline;
    }
  }

  #threadnumber {
    font-size: 1em;
    color: white;
    position: absolute;
    right: 1em;
    top: 0;
    margin-top: 0em;
    text-align: center;
    height: 2.5em;

    span {
      background-color: rgba(255,255,255,0.05);
    }

    .plus {
      display: inline-block;
      width: 1em;
      font-size: 2.05em;
      border-bottom-right-radius: 0.3em;
      border-top-right-radius: 0.3em;
      border-left: 0.1em solid rgba(0,0,0,0.22);
      cursor: pointer;
    }

    .minus {
      display: inline-block;
      margin: 0em;
      width: 1em;
      font-size: 2.05em;
      border-bottom-left-radius: 0.3em;
      border-top-left-radius: 0.3em;
      border-right: 0.1em solid rgba(0,0,0,0.22);
      cursor: pointer;
    }

    .number {
      display: inline-block;
      font-size: 2.05em;
      width: 1.3em;
      cursor:default;
    }
  }

  #state-describtion {
    display: none;
    font-size: 1.1em;
    position: absolute;
    -text-align: right;
    top: 0em;
    right: 1em;
    color: #CCC;
    font-family: Arial;
    -text-shadow: 0 1px 2px #666666;
  }

}

#tabs {
  position: absolute;

  font-size: 1.5em;
  padding: 0em 3em 2em 2em;
  margin-right: 36%;

  &.active ~ #worksourcelist .workunit {
    opacity: 0.05;
  }

  div {
    display: none;
  }
  
  &.active div.selected {
    display: block;
  }
}

.worksource {
  position: relative;
  .display-box;
  .box-orient(horizontal);
  .box-pack(start);
  .box-align(start);

  font-size: 1.5em;

  width: 100%;
  .box-sizing(border-box);
  padding: 0em 2em;
  margin: 1em 0em 2.5em;

  .information {
    width: 36%;
    padding-left: 1em;
    margin-left: -0.5em;
    border-left: 0.5em solid #DDD;

    //color: #BBB;

     .overview p {
      margin-bottom: 0.5em;
    }

     h1 {
      font-size: 2em;
      padding: 0.2em 0.5em;
      margin: 0em -1em 0.5em -0.5em;

      cursor: pointer;
      font-weight: bold;

      overflow: hidden;
      text-overflow: ellipsis;

       &:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.1);
        -font-weight:bold;
        text-shadow:white 0px 0px 1px;
      }
       &.selected {
        color: white;
        background-color: rgba(255, 255, 255, 0.1);
        -font-weight:bold;
        text-shadow:white 0px 0px 1px;
      }
    }
  }

  .workunits {
    position: relative;
    display: block;
    .box-flex(1);

    border-right: 0.5em solid #DDD;
    padding-right: 1em;

    .workunit {
      .display-box;
      .box-orient(horizontal);
      .box-pack(start);
      .box-align(center);

      font-size: 1.1em;
      padding: 0.5em;
      margin: 1em 0em;

      background-color: fadeout(@foreground, 90%);//rgba(255,255,255,0.1);
      border-radius: 0.5em;

      .status {
        display: block;
        width: 9em;
        padding: 0.2em 0.4em 0.1em;
      }

      .meter {
        position: relative;
        .box-flex(1);
        height: 1.6em;

        background: fadeout(@foreground, 87%);// rgba(255,255,255,0.13);
        border-radius: 0.4em;
        transition: all 0.5s ease-in-out;
        
         .span {
          position: relative;
          display: block;
          height: 100%;
          overflow: hidden;

          border-radius: 0.4em;
          background-color: fadeout(@foreground, 70%);// rgba(255,255,255,0.3);
        }
      }
    }  
  }
}












a {
  text-decoration: underline;
  color: #444;
}

.panel {
  position: absolute;
  top: 3em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  display: none;
  overflow-y: scroll;  
}

.step {
  margin: 2em 0em;
  padding: 0em 1em;
  border-left: 4px solid green;
  display: none;
}
.wizard {
  display: none;
}
.enabled + .wizard {
  display: block;
}
.settingsbutton {
  position: absolute;
  top: 1em;
  right: 2em;
  width: 2.6em;
  cursor: pointer;
}
.settings {
  margin: 1em 0em 0em;
  padding: 1em;
  border-radius: 13px;
  background-color: rgb(143,175,186);
}
.settings p {
  margin: 0em;
}
.settings p ~ p {
  margin: 0.8em 0em 0em;
}
#terminalpanel-button {
  float: right;
  height: 2.6em;
  margin: 0.2em 1.5em;
  padding: 0.1em;
  border-radius: 0.5em;
  cursor:pointer;
}
#terminalpanel-button.active {
  background-color: white;
}

#newworksource {
  overflow: auto;
} 

#skeletons {
  .display-box;
  .box-orient(horizontal);
  width: 100%;
  height: 9em;
  overflow: hidden;
  list-style-type: none;
  padding: 0em;
  margin: 0em;
  li {
    .box-flex(0.001);
    .display-box;
    .box-orient(horizontal);
    &.active {
      .box-flex(0);
      margin-left: 0px;
      .logo {
        display: table-cell;
      }
    }
    &.selected {
      .box-flex(1);
      .createform {
        .display-box;
      }
    }
    .createform {
      display: none;
      .box-orient(vertical);
      .box-flex(1);
      height: 9em;
      margin: 0em;
      padding: 0em 0.5em;
      font-family: Arial;
    }
    .logo {
      display: none;
      vertical-align: middle;
      text-align: center;
      width : 8.9em;
      height: 8.9em;
      padding : 0em;
      border-radius: 0.3em;
      border: 0.1em solid #CCC;
      background-color: white;
      img {
        max-width: 7em;
      }
    }
  }
}

.createform .or .fieldset:last-child:before{
  .display-box;
  content: 'or';
  font-size: 1.1em;
  margin: 0.8em;
  height: 0em;
}
.createform .or  {
  .display-box;
  .box-orient(horizontal);
  .box-flex(1);
}
.createform .fieldset {
  .display-box;
  .box-orient(horizontal);
  .box-flex(1);
  padding-bottom: 0.5em;
}
.createform .fieldset.submit {
  display: block;
}
.createform .fieldset button {
  font-size: 1em;
  height: 2.6em;
  margin: 0.3em;
}
.createform .submit p {
  margin: 0em;
  padding: 0em;
  float: right;
}
.createform label {
  .display-box;
  .box-orient(horizontal);
  .box-align(center);
  border: 0px solid black;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  margin: 0.3em;
  margin-right: 0em;
  padding: 0.3em 0.8em;
  z-index: 0;
  font-size: 1em;
  line-height: 2em;
  -height: 2em;
  background-color: #BBB;
}
.createform input {
  .display-box;
  .box-orient(horizontal);
  .box-flex(1);
  border: 0px solid black;
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  margin: 0.3em;
  margin-left: 0em;
  padding: 0.3em 0.8em;
  z-index: 0;
  font-size: 1em;
  line-height: 2em;
  -height: 2em;
}
.createform button {
  font-size: 1em;
  font-family: Arial;
}
.createform .submit .error {
  color: red;
}
.createform input:focus {
  box-shadow:rgba(0, 72, 166, 0.359375) 0px 0px 5px 1px;
  outline: none;
}
.createform input[disabled] {
  background-color: #BBB;
}
.createform label.enabled {
  background-color: white;
}
.active {
  display: block;
}

.log {
  font-size: 1em;
  clear: both;
  padding: 1em;
  border: 0em;
  background-color: rgba(41,41,41,0.95);
  color: #CCC;
  overflow: auto;
  font-family: Courier;
  font-size: 0.8em;

  .critical    { color: red; text-decoration: underline; }
  .error       { color: red; }
  .warning     { color: yellow; }
  .notice      { color: lime; }
  .information { color: white; }
  .debug       { color: gray; }

  .time {
    display: inline-block;
    width: 5em;
    font-style: italic;
    padding-right: 0.3em;
    background-color: #444;
    border-right: 1px solid #888;
    margin-right: 0.5em;
  }

  .message {
    text-decoration: inherit;
    display: inline-block;
  }

  .source {
    padding: 0;
    text-decoration: inherit;
    display: inline-block;
    padding-left: 0.1em;
    padding-right: 0.1em;
    font-size: 0.7em;
    border: 1px solid #559;
    background: #226;
    color: white;
    margin-right: 0.5em;
  }

  .data pre {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    display: inline-block;
  }
}

.workunit-log {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 15em;
  margin: 1em -1.25em -1.25em;
  padding: 1.25em;
  border-radius: 1.125em;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  resize: vertical;
}
